<%- include("partials/header") %>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class="navbar-header">
        <p class="navbar-brand">MOVIES</p>
      </div class="">
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item" id="home"><a  class ="nav-link"href="/">HOME</a></li>
          <li class="nav-item" id="about"><a  class ="nav-link"href="/about">About us</a></li>
          <li class="nav-item" id="contact"><a class ="nav-link" href="/works">work</a></li>
          <li class="nav-item" id="photos"><a class ="nav-link" href="/photos">photos</a></li>
        </ul>
    </div>
  </nav>

    <%- body %>
    <%- include("partials/footer"); -%>

</html>
